{% extends "base.html" %}

{% block content %}
<div class="task">
    <div class="task_info title">
        <div class="left">
            <h2 class="task_id"><a href="/task/{{task.id}}">#{{task.str_id}}</a></h2>
            <h2 class="task_title"><a href="/task/{{task.id}}">{{task.title}}</a></h2>
        </div>
        <div class="right">
            <h4 class="task_datetime"><i class="fa fa-calendar-alt"></i> {{task.datetime}}</h4>
        </div>
    </div>
    <p class="task_short_description">
        {{task.short_description}}
    </p>
    <p class="task_content">
        {{task.content}}
    </p>
</div>
<div class="answers">
    {% for answer in answers %}
    <hr size="5" color="black" style="border-radius: 50%">
    <div class="answer" id="{{answer.id}}">
        <div class="answer_info">
            <div class="left">
                <h4>{{answer.user.name}}</h4>
            </div>
            <div class="right">
                <h4><i class="fa fa-calendar-alt"></i> {{answer.datetime}}</h4>
            </div>
        </div>
        <p class="answer_content">
            {{answer.content}}
        </p>
    </div>
    {% endfor %}
    {% if current_user.is_authenticated %}
    <hr size="5" color="black" style="border-radius: 50%">
    <div class="answer">
        <form action="" method="post">
            {{form.hidden_tag()}}
            <p class="answer_content">
                {{form.answer_field(type="answer")}}
                {{form.submit(type="submit")}}
            </p>
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}